{% extends "base.html" %}
{% block content %}
{% for day in days %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ day.day }}</a>
            <small class="text-muted">{{ day.dept }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ day.onduty }}</a></h2>
        <p class="article-content">{{ day.desc }}</p>
        <a class='btn btn-outline-success btn-lg btn-block'
            href="{% url 'session-create-spec' day.date 'A' %}">8:00-8:20</a>
        <a class='btn btn-outline-success btn-lg btn-block'
            href="{% url 'session-create-spec' day.date 'B' %}">8:20-8:40</a>
        <a class='btn btn-outline-success btn-lg btn-block'
            href="{% url 'session-create-spec' day.date 'C' %}">8:40-9:00</a>
        <a class='btn btn-outline-success btn-lg btn-block'
            href="{% url 'session-create-spec' day.date 'D' %}">9:00-9:20</a>
        <a class='btn btn-outline-success btn-lg btn-block'
            href="{% url 'session-create-spec' day.date 'E' %}">9:20-9:40</a>
        <a class='btn btn-outline-success btn-lg btn-block'
            href="{% url 'session-create-spec' day.date 'F' %}">9:40-10:00</a>
        <!-- <button type="button" class="btn btn-secondary btn-lg btn-block" disabled>Booked</button> -->
    </div>
</article>
{% endfor %}

<div class="card">
    <div class="row">
      <div class="col-lg">
        <div class="card-body">
          <h4 class="card-title">Monday</h4>
          <p class="card-description">Mr. Brett Hand</p>
          <div class="row">
            <button type="button" class="btn btn-success btn-rounded btn-fw">Success</button>
            <button type="button" class="btn btn-danger btn-rounded btn-fw">Danger</button>
            <button type="button" class="btn btn-warning btn-rounded btn-fw">Warning</button>
            <button type="button" class="btn btn-info btn-rounded btn-fw">Info</button>
            <button type="button" class="btn btn-light btn-rounded btn-fw">Light</button>
            <button type="button" class="btn btn-dark btn-rounded btn-fw">Dark</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<article class="media content-section">
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'scheduler-issues' %}">Report Issues</a>
</article>

{% endblock content %}
