{% extends "base.html" %}
{% block content %}
{% for day in days %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ day.date }}</a>
            <small class="text-muted">{{ day.day }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ day.onduty }}</a></h2>
        <p class="article-content">{{ day.dept }}</p>
        {% if not day.A_booked %}
            <a class='btn btn-success btn-lg btn-block'
                href="{% url 'session-create-spec' day.date 'A' %}">8:00-8:20</a>
        {% else %}
            <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
        {% endif %}

        {% if not day.B_booked %}
            <a class='btn btn-success btn-lg btn-block'
                href="{% url 'session-create-spec' day.date 'B' %}">8:20-8:40</a>
        {% else %}
            <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
        {% endif %}

        {% if not day.C_booked %}
            <a class='btn btn-success btn-lg btn-block'
                href="{% url 'session-create-spec' day.date 'C' %}">8:40-9:00</a>
        {% else %}
            <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
        {% endif %}

        {% if not day.D_booked %}
            <a class='btn btn-success btn-lg btn-block'
                href="{% url 'session-create-spec' day.date 'D' %}">9:00-9:20</a>
        {% else %}
            <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
        {% endif %}

        {% if not day.E_booked %}
            <a class='btn btn-success btn-lg btn-block'
                href="{% url 'session-create-spec' day.date 'E' %}">9:20-9:40</a>
        {% else %}
            <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
        {% endif %}

        {% if not day.F_booked %}
            <a class='btn btn-success btn-lg btn-block'
                href="{% url 'session-create-spec' day.date 'F' %}">9:40-10:00</a>
        {% else %}
            <a class='btn btn-secondary btn-lg btn-block' disabled>BOOKED</a>
        {% endif %}
    </div>
</article>
{% endfor %}

<article class="media content-section">
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'scheduler-issues' %}">Report Issues</a>
</article>

{% endblock content %}
