
<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
            <a target="_blank"
               href="https://github.com/tylertaewook/tutor-scheduler-django">Github Repo</a>
        </span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
            &copy; 2022 <a target="_blank" href="https://tylertaewook.github.io">Tyler Kim</a>. All rights reserved.
        </span>
    </div>
</footer>
