{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}

<div class="content-section">
  <h2>My Profile</h2>
  <div class="media">
    <img class="rounded-circle account-img" src="{% static 'images/profilepic.jpg' %}">
      <div class="media-body">
          <h2 class="account-heading">{{ object.username }}</h2>
          <p class="text-secondary">{{ user_group }}</p>
          <p class="text-secondary">{{ object.email }}</p>
      </div>
  </div>
  <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Edit Profile</a>
  <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">Edit Email</a>
</div>

<div class="content-section">
  <h3>Upcoming Sessions</h3>
  {% for session in user_sessions %}
  {% if session.is_upcoming %}
  <div class="card bg-light mb-3" style="width: 18rem;">
      <div class="card-header">{{ session.date|date:"F d, l" }}</div>
      <div class="card-body">
          <h5 class="card-title">{{ session.get_timeblock_display }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ session.course_name }} ({{ session.course_teacher }})</h6>
          <p class="card-text">{{ session.helptype }}</p>
          <a class='btn btn-outline-secondary btn-small mt-1 mb-1' href="{% url 'session-edit' session.id %}">Edit</a>
          <a class='btn btn-outline-danger btn-small mt-1 mb-1'
              href="{% url 'session-cancel' session.id %}">Cancel</a>
      </div>
  </div>
  {% endif %}
  {% endfor %}

  <h3>Past Sessions</h3>
  {% for session in user_sessions %}
  {% if session.is_upcoming is False %}
  <div class="card border-dark mb-3" style="width: 18rem;">
      <div class="card-header">{{ session.date|date:"F d, l" }}</div>
      <div class="card-body text-dark">
          <h5 class="card-title">{{ session.get_timeblock_display }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ session.course_name }} ({{ session.course_teacher }})</h6>
          <p class="card-text">{{ session.helptype }}</p>
      </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock content %}
