{% extends "scheduler/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>{{ user.username }}</h1>
<h3>Upcoming Sessions</h3>
<div class="card bg-light mb-3" style="width: 18rem;">
    <div class="card-header">Dec 25th, Saturday</div>
    <div class="card-body">
        <h5 class="card-title">8:20-8:40</h5>
        <h6 class="card-subtitle mb-2 text-muted">Mr. Brett Hand</h6>
        <p class="card-text">Help with college essay</p>
        <a href="#" class="btn btn-outline-danger">Cancel Session</a>
    </div>
</div>
<h3>Past Sessions</h3>
<div class="card border-dark mb-3" style="width: 18rem;">
    <div class="card-header">Dec 25th, Saturday</div>
    <div class="card-body text-dark">
        <h5 class="card-title">8:20-8:40</h5>
        <h6 class="card-subtitle mb-2 text-muted">Mr. Brett Hand</h6>
        <p class="card-text">English term paper</p>
    </div>
</div>
{% endblock content %}