{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Report Issues</legend>
            <p>Please describe the issue you are facing and we will get back to you with a fix.
            </p>
            {{ form|crispy }}
            <small id="emailHelp" class="form-text text-muted">We are collecting your OS/browser data to assist our
                debugging.</small>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
    </form>
    <script>
        var userAgent = document.getElementById('{{ form.user_agent.id_for_label }}')
        userAgent.value = navigator.userAgent;
        // Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.100 Safari/537.36
    </script>
    <div class="border-top pt-3">
        <small class="text-muted">
            You can also submit as a Github Issue: <a class="ml-2"
                href="https://github.com/tylertaewook/tutor-scheduler-django/issues">Submit Issue</a>
        </small>
    </div>
</div>
{% endblock content %}
