{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Cancel Session</legend>
            <h2>Are you sure you want to cancel this session?</h2>
        </fieldset>
        <div class="form-group">
            <a class="btn btn-outline-secondary" href="{% url 'users:detail' request.user.username  %}">Go Back</a>
            <button class="btn btn-outline-danger" type="submit">Yes, Cancel</button>
        </div>
    </form>
</div>
{% endblock content %}
